page-register {
  .background {
    background-image: url('../assets/bg.jpg')
  }
  //.scroll-content {
  //  align-content: center;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  text-align: center;
  //}
  ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  a, p,
  ion-card-header.card-header {
    color: #fff;
  }
  .list > .item-block:first-child {
    border: medium none;
  }
  .item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;
    padding: 0px !important;
    .text-input {
      color: #fff;
    }
    .select {
      color: #fff;
    }
    *:-moz-placeholder {
      color: #fff !important;
    }
    *::-webkit-input-placeholder {
      color: #fff !important;
    }
    input::-moz-placehilder {
      color: #fff !important;
    }
    input::-moz-placeholder {
      color: #fff !important;
    }
  }

  .class2 {
    border: solid 1px red !important;
  }


  .class3 {
    border: none;
  }
  ion-item .ng-invalid {
    border: solid 1px red ;

  }
  ion-item .valid {
    border: none ;
    margin-left: 100px;
  }
  ion-item .ng-untouched {
    border: none ;
  }




}